<link rel="stylesheet" type="text/css" href="~/Content/style.css" />

@using (Html.BeginForm())
{
    <fieldset>
        <div class="display-label">
            Buscar Empleado
        </div>
        <div class="editor-field">

            <form action="/Reporte/TiemposRequerimiento" method="post">
                @Html.DropDownList("nombre", ((Proyecto.Controllers.ReporteController)this.ViewContext.Controller).getEmpleadosTrabajando(), "Seleccione un Empleado", new { @class = "form-control", @onchange = "this.form.submit()" })
                <noscript><input type="submit" value="Submit"></noscript>
            </form>
        </div>

    </fieldset>
}

<table class="table table-striped" style="text-align:center">
    <tr>
        <th>
            Nombre de desarrollador
        </th>
        <th>
            Nombre de requerimiento
        </th>
        <th>
            Diferencia entre duración estimada y real
        </th>
        <th></th>
    </tr>
    </br>
    </br>

    @foreach (var item in Model)
    {
        string datos = item.ToString();

        string[] lista = datos.Split(' ');
        <tr>
            <td>
                @lista[0]

            </td>
            <td>
                @lista[1]

            </td>

            <td>
                @lista[2]
            </td>
        </tr>
    }




</table>