@model Proyecto.Models.Modulo
@{
    /**/

    ViewBag.Title = "Consultar Módulo";
}

<div class="container-fluid text-center">
    <h2>@ViewBag.Title</h2>


    <table class="d-flex justify-content-center">
        <tbody>
            <tr style="line-height:50px">
                <th>
                    Nombre de Modulo
                </th>

                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>
            </tr>

            <tr style="line-height:50px">
                <th>
                    Nombre de Proyecto
                </th>

                <td>
                    @Html.DisplayFor(model => model.NombreProy)
                </td>
            </tr>

        </tbody>
    </table>
</div>


<div>

</div>
<p>

    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default btn-large" })
</p>
